h1{

    color: cadetblue;
    background-color: chocolate;
    font-size: 100px;
    text-align: center;

}

h2{
    color: white;
    font-weight: bold;
    font-size: larger;

}

body{
    background-image: url(https://img.freepik.com/free-vector/golden-iron-gearwheels-technology-backdrop_79020-37.jpg?w=2000);

}
nav{

    color: white;

}